*~
*.o
*.so
*.os
Makefile
*.cmake
*.makefile
*.json
*.log
install_manifest.txt
CMakeCache.txt
CMakeFiles
/src/python/setup.py
/src/python/solartherm.egg-info
Testing
SolarTherm/Models/Control/reference_1.mat
examples/*_res*.mat
SolarTherm/Resources/Include/test/des_point/simul
SolarTherm/Resources/Include/test/input-rcv.yaml
SolarTherm/Resources/Include/test/input.yaml
SolarTherm/Resources/Include/test/lookup_table.csv
SolarTherm/Resources/Include/test/OELT_Solstice.motab
SolarTherm/Resources/Include/test/pos_and_aiming.csv
SolarTherm/Resources/Include/test/simulated_parameters.csv
SolarTherm/Resources/Include/test/sunpos_1/simul
SolarTherm/Resources/Include/test/sunpos_10/simul
SolarTherm/Resources/Include/test/sunpos_11/simul
SolarTherm/Resources/Include/test/sunpos_12/simul
SolarTherm/Resources/Include/test/sunpos_13/simul
SolarTherm/Resources/Include/test/sunpos_14/simul
SolarTherm/Resources/Include/test/sunpos_15/simul
SolarTherm/Resources/Include/test/sunpos_16/simul
SolarTherm/Resources/Include/test/sunpos_17/simul
SolarTherm/Resources/Include/test/sunpos_18/simul
SolarTherm/Resources/Include/test/sunpos_19/simul
SolarTherm/Resources/Include/test/sunpos_2/simul
SolarTherm/Resources/Include/test/sunpos_20/simul
SolarTherm/Resources/Include/test/sunpos_21/simul
SolarTherm/Resources/Include/test/sunpos_22/simul
SolarTherm/Resources/Include/test/sunpos_23/simul
SolarTherm/Resources/Include/test/sunpos_24/simul
SolarTherm/Resources/Include/test/sunpos_25/simul
SolarTherm/Resources/Include/test/sunpos_26/simul
SolarTherm/Resources/Include/test/sunpos_3/simul
SolarTherm/Resources/Include/test/sunpos_4/simul
SolarTherm/Resources/Include/test/sunpos_5/simul
SolarTherm/Resources/Include/test/sunpos_6/simul
SolarTherm/Resources/Include/test/sunpos_7/simul
SolarTherm/Resources/Include/test/sunpos_8/simul
SolarTherm/Resources/Include/test/sunpos_9/simul
SolarTherm/Resources/Include/test/table_view.csv
