*~
*.o
*.so
*.os
*.dll
*.a
Makefile
*.cmake
*.makefile
*.json
*.log
install_manifest.txt
CMakeCache.txt
CMakeFiles
src/python/setup.py
src/python/solartherm.egg-info
src/env/st
Testing
SolarTherm/Models/Control/reference_1.mat
SolarTherm/Data/Data
examples/*_res*.mat
.scons*
.sconf_temp
doc/out/*
src/python/wheel/*.whl
SolarTherm/Resources
.DS_Store
cscope.*
*.deb
wheel
