*.pyc
*.c
*.h
AO
*.xml
*_res.mat
resources
Test*
!*.py
SimpleSystem
FluidSystem
TroughWagner
Reference_1
Reference_1_fluid
TestTMY3WeatherFileChecker
SolarFuelSystem
SolarMethanolSystem
TestExternalC
TestExternalPyStr
optimizeInput.csv
*.libs
