DishSG4
DishSG4*.[cho]
*_res_[0-9].mat
*_res.mat
SimpleSystem
SimpleSystem*.[ch]
FluidSystem
FluidSystem*.[ch]
Reference_1
Reference_1*.[ch]
Reference_1_fluid
Reference_1_fluid*.[ch]
Reference_2
Reference_2*.[ch]
SaltSCO2System
SaltSCO2System*.[ch]
NaSaltSCO2System
NaSaltSCO2System*.[ch]
ASTRI100
ASTRI100*.[ch]
EnergySystem
EnergySystem*.[ch]
TroughWagner
TroughWagner*.[ch]
SolarGasifier
SolarGasifier*.[ch]
SolarFuelSystem
SolarFuelSystem*.[ch]
SolarMethanolSystem
SolarMethanolSystem*.[ch]
PS10_Flat
PS10_Flat*.[ch]
PS10_Bladed
PS10_Bladed*.[ch]
SimpleResistiveStorage
SimpleResistiveStorage*.[ch]
SimpleParticleSystem
SimpleParticleSystem*.[ch]
SolarTherm_*.[ch]
SolarTherm_*.libs
*.xml
*.dat
Modelica_Utilities_*
resources
